body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
}

.artist-name {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease;
}

.gallery-item:hover .artist-name {
    display: block;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}
