
body {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#text-body {
    display:flex;
    justify-content: center;
    align-items: center;
}

.typewriter-container {
    text-align: center;
    padding: 20px;
    max-width: 65%;
    background-color: #fff;
}

.typewriter-text {
    font-size: 18px;
    white-space: pre-line;
    overflow: hidden;
    padding-right: 5px;
    min-height: 1em; /* Ensure a minimum height for the text container */
}


footer {
    background-color: white;
    color: black;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-left {
    display: flex;
}

.footer-left ul {
    list-style: none;
    padding: 0;
    margin: 0 20px;
}

.footer-left ul li {
    margin-bottom: 10px;
}

.footer-left ul li a {
    text-decoration: none;
    color: black;
}

.footer-right {
    text-align: right;
}

.footer-title {
    font-size: 100px;
    font-weight: bold;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .footer-right {
        display: none;
    }
    .footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-left ul {
        list-style: none;
        padding: 0;
        margin: 0 20px;
    }
}
