
h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.faq-section {
    max-width: 80%;
    margin: 0 auto;
}

.faq-list {
    list-style: none;
    padding: 0;
}

.faq-list li {
    margin: 20px 0;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.question {
    font-weight: bold;
}

.answer {
    display: none;
    margin-top: 10px;
    padding: 10px 25px;
}
